PORT=10000
DATABASE_URL=postgresql://user:password@ep-xxxxx.us-east-1.aws.neon.tech/neondb?sslmode=require
GOOGLE_MAPS_API_KEY=tu_clave_google_maps
DISTRIBUTION_ORIGIN=Planta Bello Campo, Caracas, Venezuela
FRONTEND_ORIGIN=https://tu-frontend.vercel.app
